<form>
	<div class="form-group">
	  <label>First Name</label>
	  <input type="text" class="form-control" ng-model="item.fname">
	</div>
	<div class="form-group">
	  <label>Last Name</label>
	  <input type="text" class="form-control" ng-model="item.lname">
	</div>
	<div class="form-group">
	  <label>Email</label>
	  <input type="text" class="form-control" ng-model="item.email">
	</div>
	<button type="submit" ng-click="addItem(item)" class="btn btn-default">Save</button>
</form>