<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="data in list">
      <td>{{data.fname}}</td>
      <td>{{data.lname}}</td>
      <td>{{data.email}}</td>
      <td>
        <a href="#edit/{{data._id}}"><button type="button" class="btn btn-primary">Edit</button></a>
        <button type="button" ng-click="deleteItem(data._id)" class="btn btn-danger">Delete</button>
      </td>
      <my-directive data="data"></my-directive>
    </tr>  
  </tbody>
</table>
<div class="col-md-6">
  <a href="#add"><button type="button" class="btn btn-warning">Add</button></a>
</div>
<div class="col-md-6">
  <form name="uploadForm">
    <button ngf-select ng-model="file" name="file" ngf-pattern="'image/*'">Select</button>
    <button ng-click="fileUpload()">Upload</button>
  </form>
</div>
